.chat-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 500px;
    padding: 10px;
    overflow-y: scroll;
    background-color: rgb(15, 15, 1);
}

.user-message {
    background-color: #eaf2f8;
    padding: 5px;
    margin-bottom: 10px;
}

.assistant-message {
    background-color: #f1f0f0;
    padding: 5px;
    margin-bottom: 10px;
}

.text-input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input {
    color: green
}

.header-container{
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}
#send-btn{
    align-items: right;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}